* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 95px;
    min-height: 95px;
    background-color: #bbb;
}

/* ==========================================================================
  BURGER MENU
  ========================================================================== */
.navbar-container {
    position: relative;
    z-index: 3;
}

/* Menu Inactif => Ne pas afficher  */
.navbar {
    display: none;
}

/* Menu Actif => Afficher */
.navbar.active {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    background-color: #eee; 
}

.btn-burger {
    position: absolute;
    z-index: 5;
    top: 2rem;
    right: 2rem;
    padding: .2rem .4rem;
    border: 2px solid #333;
    border-radius: 15%;
    background-color: #eee;
    cursor: pointer;
}

/* ==========================================================================
  SLIDER
  ========================================================================== */

.slider-container {
    margin: 125px auto;
    width: 300px;
    height: 200px;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.5);
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.slider .btn {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #bbb;
    font-size: 1rem;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.slider .btn:hover {
    background-color: #1a1a1a;
    color: #fefefe;
}

.slider #prev {
    left: -20px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.slider #next {
    right: -20px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.slider ul>li {
    transition: 0.5s ease-in-out;
}

.slider ul>li img {
    opacity: 0;
}

.slider ul>li img.active {
    opacity: 1;
}